<?xml version="1.0" encoding="UTF-8"?>
<package xmlns="http://www.idpf.org/2007/opf" version="3.0" xml:lang="en" unique-identifier="uid" prefix="cc: http://creativecommons.org/ns#">
  <metadata xmlns:dc="http://purl.org/dc/elements/1.1/">
    {% for name, value in metadata.dc -%}
      {% if name == "identifier" %}
        <dc:{{name}} id="uid">{{value}}</dc:{{name}}>
      {% else %}
        <dc:{{name}}>{{value}}</dc:{{name}}>
      {% endif %}
    {%- endfor %}

    {% for rel, href in links -%}
      <link rel="{{rel}}" href="{{href}}"/>
    {%- endfor %}

    <meta property="dcterms:modified">{{ help.dateNow}}</meta>
    {% for property, value in metadata.properties -%}
      {{  \n }}
      <meta property="{{property}}">{{value}}</meta>
    {%- endfor %}
    {{  \n }}

    {% if metadataFixedLayout.fixed == true %}
      {% for property, value in metadataFixedLayout.properties -%}
        {{  \n }}
        <meta property="{{property}}">{{value}}</meta>
      {%- endfor %}
    {% endif %}

  </metadata>
  <manifest>
    {% for resource in resources -%}
      {{  \n }}
      <item id="rsc{{loop.index}}" href="{{resource}}" media-type="{{resource | mediaType}}" {% if resource == pub.cover.src %} properties="cover-image" {% endif %}/>
    {%- endfor %}
    <item id="cover" href="cover.xhtml" media-type="application/xhtml+xml"/>
    <item id="toc" properties="nav" href="toc.xhtml" media-type="application/xhtml+xml"/>
    {% for page in collections.pages -%}
      {{  \n }}
      <item id="page{{loop.index}}" href=".{{page.url}}" media-type="application/xhtml+xml"/>
    {%- endfor %}
  </manifest>
  <spine>
    <itemref idref="cover" linear="no"/>
    {% if pub.readingOrder -%}
      {% for item in pub.readingOrder -%}
        {% for page in collections.pages -%}
          {% if page.fileSlug == item -%}
            {{  \n }}
            <itemref idref="page{{loop.index}}"/>
          {%- endif %}
        {%- endfor %}
      {%- endfor %}
    {% else %}
      {% for page in collections.pages -%}
        {{  \n }}
        <itemref idref="page{{loop.index}}"/>
      {%- endfor %}
    {%- endif %}
  </spine>
</package>