{% extends 'base.njk' %}
{% block head %}
    <title>
        {% if title %}{{ title }}
        {% else %}{{metadata.dc.title}}
        {% endif %}
    </title>
    <link rel="stylesheet" type="text/css" href="./resources/css/page.css"/>
    <style>
        {% if (bgimage) and (metadataFixedLayout.fixed == true) %}

            #page {
                position: relative;
                {% if padding %}
                    padding: {{padding}};
                {% endif %}
                background-image: url("./resources/images/{{ bgimage}}");
                background-repeat: no-repeat;
                height: {{metadataFixedLayout.height}}px;
                background-size: auto;
                {% if spread == "right" %}
                    background-position: -{{metadataFixedLayout.width}}px 0;{% endif %}
            }

            {% if styles %}
                {% for selector, properties in styles %}
                    {{selector}}
                    {
                        {% for property, value in properties %}
                            {{property}}: {{value}};
                        {%- endfor %}
                    }
                {%- endfor %}

            {% endif %}

        {% endif %}
    </style>
{% endblock %}

{% block content %}
    {{eleventyComputed.matchtimes}}
    <div id="page" class="page">
        {{ content | makespans | safe }}
    </div>
{% endblock %}