{% extends 'base.njk' %}
{% block head %}
    <title>
        {% if title %}{{ title }}
        {% else %}{{metadata.dc.title}}
        {% endif %}
    </title>
    <link rel="stylesheet" type="text/css" href="./resources/css/page.css"/>
    {% if (bgimage) and (metadataFixedLayout.fixed == true) %}

        <style>
            #page {
                background-image: url("./resources/images/{{ bgimage}}");
                background-repeat: no-repeat;
                height: {{metadataFixedLayout.height}}px;
                {% if spread %}
                    width: {{metadataFixedLayout.width * 2}}px;
                {% else %}
                    width: {{metadataFixedLayout.width}}px;
                {% endif %}
            }
        </style>

    {% endif %}
{% endblock %}

{% block content %}
    <div id="page" class="page">
        {{ content | safe}}
    </div>
{% endblock %}