<smil xmlns="http://www.w3.org/ns/SMIL" xmlns:epub="http://www.idpf.org/2007/ops" version="3.0">
    <body>

        {%- for page in collections.pages -%}
            {%-  if page.data.start %}
                {% set i = 0 %}
                {%- for time in times  -%}

                    {%- if (time.start >= page.data.start ) and ( time.start <= page.data.end) %}
                        {% set i = i + 1 %}
                        <par>
                            <text src="{{page.url}}#{{i }}"/>
                            <audio src="../audio/grasshopper-ants.m4a" clipbegin="{{time.start}}" clipend="{{time.end}}"></audio>
                        </par>

                    {%- endif %}
                {%- endfor %}

            {%- endif %}
        {%- endfor %}

    </body>
</smil>